body{
    background-color: lightgray;
    margin: 0;
}

.fundo {
height: 450px;
background-color:gray;
}

.box {
    justify-content: center;
    font-size: xx-large;
    margin: auto;
    margin-top: -255px;
    margin-bottom: 255px;
width: 1000px;
height: 1500px;
background-color: white;
box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.233);

}

img {
    margin-top: 65px;
    width: 175px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.h2{

}
